@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

/* ====================================================
   TAG SELECTORS
   (element, universal, attribute, pseudo–classes not tied to an ID/class)
   ====================================================

   Note: :root is included here.
------------------------------------------------------ */
:root {
    --accent-bright: #fff;
    --accent-primary: #aaa;
    --accent-midway: #555;
    --accent-secondary: #000000d2;
    --accent-ternery: #333;
    --accent-dark: #222;
    --accent-grey: #555;
    --accent-border: #6a6a6a;
    --center-panel-width: calc(375px - 2em);
    --left-panel-width: 200px;
    --min-width-left_and_center: calc(var(--left-panel-width) + var(--center-panel-width) + var(--mini-rem));
    --nano-rem: 0.25rem;
    --micro-rem: 0.5rem;
    --mini-rem: 1rem;
    --mini-micro-rem: 1.5rem;
    --small-rem: 2rem;
    --med-rem: 3rem;
    --large-rem: 4rem;
    --right-panel-width: 300px;
    --border-radius: 0.5rem;
    --panel-bar-height-constraint: 100px;
    --panel-bar-height: 7vh;
    --panel-bar-min-height: calc(2 * var(--med-rem));
    --border-width: 1px;

    --logo-small-dimension: calc(1.5 * var(--large-rem));
    --header-footer-small: calc(1.2 * var(--large-rem));

    /* New icon sizing variable for consistency */
    --icon-size: var(--small-rem);
}

* {
    letter-spacing: calc(0.05 * var(--mini-rem));
    box-sizing: border-box;
    font-family: 'Oxanium', serif;
    color: var(--accent-primary);
    transition: all 0.2s ease;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: unset;
}

html {
    height: 100%;
}

body {
    overflow: hidden;
    margin: 0px;
    height: 100%;
    background: #222;
    padding: var(--micro-rem);
}

button {
    cursor: pointer;
    background-color: var(--accent-primary);
    box-sizing: border-box;
    font-size: var(--mini-rem);
    padding: var(--micro-rem);
    font-weight: bold;
    border-radius: calc(0.5 * var(--border-radius));
    border: var(--border-width) solid var(--accent-primary);
    display: flex;
    color: var(--accent-dark);
    flex-flow: row;
    justify-content: center;
}

button .icon g>path {
    stroke: var(--accent-dark);
}

header {
    height: var(--panel-bar-height);
    min-height: var(--panel-bar-min-height);
    max-height: var(--panel-bar-height-constraint);
    background-color: aqua;
    display: flex;
    flex-flow: row;
    display: flex;
    justify-content: space-between;
    background-color: var(--accent-dark);
    border-radius: var(--border-radius);
    border: 1px solid var(--accent-border);
}

h1,
h2,
h3,
h4 {
    margin: unset;
    font-weight: 100;
    text-transform: uppercase;
}

input,
textarea,
select {
    background-color: var(--accent-dark);
    padding: var(--micro-rem);
    font-size: var(--mini-rem);
    font-weight: 200;
    border-radius: var(--nano-rem);
    border: var(--border-width) solid var(--accent-midway);
}

input:focus,
textarea:focus {
    outline: none;
}

input[type='submit'] {
    background-color: var(--accent-dark);
    padding: var(--micro-rem);
    font-size: var(--mini-rem);
    font-weight: bold;
    cursor: pointer;
}

button:hover,
input[type='submit']:hover {
    background-color: var(--accent-primary);
    backdrop-filter: blur(10px);
    color: var(--accent-dark);
    font-weight: bold;
}


li {
    list-style-type: none;
}

nav {
    cursor: pointer;
    height: -webkit-fill-available;
}

nav .icon {
    transition: all 0.2s ease;
    border-radius: var(--border-radius);
    width: var(--icon-size);
    height: var(--icon-size);
    aspect-ratio: 1 / 1;
    margin: var(--mini-rem);
}

nav:hover .icon {
    animation: popin 0.2s 1;
    transform: scale(0.8);
}

option {
    width: max-content;
    color: var(--accent-dark)
}

p {
    margin: unset;
}

select {
    width: max-content;
}

/* ====================================================
   ID SELECTORS
   (selectors beginning with "#")
   ====================================================

   All comma–separated selectors are alphabetized within the rule.
------------------------------------------------------ */
#account-btn {
    height: 100%;
}

#account-panel,
#main-menu-panel,
#right-panel {
    display: none;
    flex-direction: column;
    gap: var(--micro-rem);
}

#account-bottom-panel,
#main-menu-bottom-panel,
#right-bottom-panel {
    height: 30%;
    display: flex;
    flex-direction: column;
    max-height: calc(30% - var(--micro-rem));
}

#account-top-panel,
#main-menu-top-panel,
#right-top-panel {
    height: 70%;
    display: flex;
    flex-direction: column;
}

#right-top-panel .panel-header {
    flex-flow: row-reverse;

}

#center-panel {
    display: flex;
    flex-direction: column;
}

#container {
    height: calc(100%);
    display: flex;
    flex-direction: column;
    gap: var(--micro-rem);
}

#icons {
    /* Calculate the width minus the right padding of the header */
    width: calc(30vw - var(--mini-rem));
    display: flex;
    justify-content: flex-end;
}

#icons nav {
    display: flex;
    justify-content: center;
    border-radius: calc(0.5 * var(--border-radius));
    align-items: center;
    border-radius: var(--border-radius);
}

#icons nav .icon {
    margin: var(--small-rem);
}

#image-placeholder {
    border-radius: 100%;
    overflow: hidden;
    min-width: 180px;
    min-height: 180px;
    background-color: var(--accent-midway);
    margin-left: auto;
    margin-right: auto;
}

#knowledgeDataEditor {
    height: 300px;
    max-height: calc(100% - 2rem);
}

#left-panel {
    display: none;
    flex-direction: column;
}

#login-form {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#login-form input:nth-child(1) {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border: var(--border-width) solid var(--accent-midway);
    border-right: unset !important;
}

#login-form input:nth-last-child(1) {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border: var(--border-width) solid var(--accent-midway);
}

#logo {
    height: 100%;
    display: flex;
    flex-flow: column;
    aspect-ratio: 1 / 1;
    justify-content: center;
}

#logo .icon {
    margin: auto;
    aspect-ratio: 1 / 1;
}

#panel-sections {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: var(--micro-rem);
}

#panel-sections * {
    transition: all 0.2s ease;
    animation: fadein 0.5s ease-in-out;
    animation-fill-mode: forwards;
}


@keyframes fadein {
    0% {
        opacity: 0;
        filter: blur(100px);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
    }
}

#section-header {
    display: flex;
    overflow: hidden;
    border-radius: var(--border-radius);
    container-type: inline-size;
    container-name: headerContainer;
}

@container headerContainer (max-width: 500px) {
    #section-title h3 {
      font-size: 16px; /* adjust as needed */
    }
  }
  

#section-header #section-title {
    flex-grow: 1;
    font-weight: bold;
    display: flex;
    gap: var(--border-width);
    font-size: var(--small-rem);
}

#section-header nav {
    height: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#section-header nav .icon {
    margin: auto;

}



#section-title {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    padding: var(--mini-rem) 0px;
}

#section-title h3 {
    position: relative;
    margin: unset;
    font-weight: bold;
    padding: 0px var(--mini-rem);
    font-size: var(--small-rem);
    line-height: calc(var(--med-rem) - var(--nano-rem));
    padding-top: calc(0.75 * var(--nano-rem));
    color: var(--accent-dark);
    pointer-events: none;
}

#section-title>h3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(100% 0, 100% calc(100% - var(--mini-micro-rem)), calc(100% - var(--mini-micro-rem)) 100%, 0 100%, 0 0);
    background-color: var(--accent-primary);
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: var(--nano-rem);
}

#section-title>h3::before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: var(--mini-rem);
    width: var(--mini-rem);
    border-bottom-right-radius: var(--nano-rem);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    background-color: var(--accent-primary);


}


#section-title select {
    cursor: pointer;
}

#userpass {
    display: none;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
    border-right: unset !important;
}

/* ====================================================
   CLASS SELECTORS
   (selectors beginning with ".")
   ====================================================

   Each rule is alphabetized by its selector.
------------------------------------------------------ */
.button-bar {
    text-align: center;
    vertical-align: middle;
    line-height: var(--panel-bar-height);
    font-weight: bold;
    cursor: pointer;
    line-height: calc(var(--panel-bar-height) - (2 * var(--micro-rem)));
}

.button-bar:hover {
    background-color: var(--accent-primary);
    color: var(--accent-dark);
}


.button-bar:hover .button-text {
    color: var(--accent-dark);
}

.center {
    text-align: center;
}


.custom-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-family: inherit;
}

.dropdown-selected {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    background-color: #fff;
    user-select: none;
}

.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
    display: none;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-options.open {
    display: block;
}

.dropdown-option {
    padding: 0.5rem 1rem;
}

.dropdown-option:hover {
    background-color: #eee;
}

.domain-selection {
    display: flex;
    flex-flow: column;
    gap: var(--micro-rem);
}

.icon {
    transition: all 0.2s ease;
    border-radius: var(--border-radius);
    width: var(--icon-size);
    height: var(--icon-size);
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.icon:hover {
    transform: scale(0.8);
}

.icons-bar {
    display: flex;
    justify-content: space-between;
}

.icons-bar nav {
    margin: var(--micro-rem);
}

.knowledgeTags {
    display: flex;
    flex-flow: row;
    gap: var(--micro-rem);
}


.list-item-body {
    font-size: calc(1.25 * var(--mini-rem));
    letter-spacing: calc(0.05 * var(--mini-rem));
    background-color: var(--accent-ternery);
    color: var(--accent-bright);
    padding: var(--micro-rem);
}

.list-item-categories {
    display: flex;
    flex-flow: row;
    gap: var(--micro-rem);
    color: var(--accent-midway);
    margin-top: unset;
}

.list-item-container {
    display: block;
    flex-flow: column;
    backdrop-filter: blur(10px);
    background-color: var(--accent-dark);
    border-radius: var(--nano-rem);
    border: var(--border-width) solid var(--accent-midway);
    transition: all 0.2s ease;
    box-sizing: border-box;
    height:max-content;
}

.list-item-container h3 {
    padding: var(--micro-rem);
}

.list-item-container:hover {
    cursor: pointer;

}

.list-item-header {
    padding: var(--micro-rem);
    background-color: var(--accent-midway);
}

.list-item-footer {
    padding: var(--micro-rem);
}

.login-area {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: inherit;
    gap: var(--micro-rem);
}

.login-area h3 {
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: var(--micro-rem);
}

.menu-item {

    box-sizing: border-box;
    border: var(--border-width) solid var(--accent-primary);
    background-color: var(--accent-primary);
    padding: var(--mini-rem);
    color: var(--accent-dark);
    border-radius: calc(0.5 * var(--border-radius));
    cursor: pointer;
    font-weight: bold;
    font-size: var(--mini-micro-rem);
}

.menu-item:hover {
    background-color: var(--accent-dark);
    backdrop-filter: blur(10px);
    color: var(--accent-primary);
}

.panel-content {
    box-sizing: border-box;
    position: relative;
    padding: var(--mini-rem);
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    background-color: var(--accent-dark);
    border: 1px solid var(--accent-border);
    display: flex;
    flex-direction: column;
    gap: var(--mini-rem);
    height: calc(100% - 14vh - 1rem);
    background-attachment: fixed;
    box-shadow: inset 0 0 var(--small-rem) var(--small-rem) var(--accent-dark);
    /* Create a small dot using radial-gradient and space them evenly */
    background-image: radial-gradient(circle, var(--accent-ternery) 1px, transparent 1px);
    background-size: 20px 20px;
    /* Adjust the spacing between dots */
}

.panel-content::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    box-shadow: inset 0 0 var(--small-rem) var(--med-rem) var(--accent-dark);
    pointer-events: none;
    /* Create a small dot using radial-gradient and space them evenly */
    background-size: 20px 20px;
    /* Adjust the spacing between dots */
    opacity: 1;
    z-index: -1;
    clip-path: inset(0);
}


.panel-content.footer-detached {
    box-sizing: border-box;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border: 1px solid var(-accent-midway);
    backdrop-filter: blur(10px);


}

.panel-content.header-detached {
    box-sizing: border-box;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border: 1px solid var(--accent-border);

}

.panel-footer {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    position: relative;
    height: var(--panel-bar-height);
    max-height: var(--panel-bar-height-constraint);
    border: 1px solid var(--accent-border);
    border-top: unset;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding: var(--micro-rem);
}

.panel-footer.footer-detached {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    margin-top: var(--micro-rem);
    border: 1px solid var(--accent-border);
}

.panel-header {
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    position: relative;
    height: var(--panel-bar-height);
    max-height: var(--panel-bar-height-constraint);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border: 1px solid var(--accent-border);
    border-bottom: unset;
}

.panel-header nav {
    height: 100%;
    display: flex;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

.panel-header .section-auxiliary {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: var(--small-rem);
}

.panel-header .section-auxiliary h3 {
    font-weight: bold;
}

.panel-header nav .icon {
    margin: auto;
}

.panel-header nav h3 {
    font-weight: bold;
    display: flex;
    justify-content: center;
    flex-flow:
        column;
    padding: var(--micro-rem) var(--small-rem);
}

.panel-footer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    /*box-shadow: inset 0 0 var(--small-rem) var(--micro-rem) var(--accent-secondary);*/
    pointer-events: none;
    /*background: repeating-linear-gradient(
        60deg,
        var(--accent-secondary),
        var(--accent-secondary) 2px,
        transparent 2px,
        transparent 20px
      );*/
    opacity: 1;
    z-index: -1;
    clip-path: inset(0);
}

.panel-footer .button-text {
    box-sizing: border-box;
    height: auto;
    margin: unset;
    line-height: normal;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.panel-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    /*box-shadow: inset 0 0 var(--small-rem) var(--micro-rem) var(--accent-secondary);*/
    pointer-events: none;
    /*background: repeating-linear-gradient(
        60deg,
        var(--accent-secondary),
        var(--accent-secondary) 2px,
        transparent 2px,
        transparent 20px
      );*/
    opacity: 1;
    z-index: -10;
    clip-path: inset(0);
}

.panel-header.header-detached {
    box-sizing: border-box;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    margin-bottom: var(--micro-rem);
    border: 1px solid var(--accent-border);
}

.panel-no-footer .panel-footer {
    display: none;
}

.panel-no-footer .panel-content {
    box-sizing: border-box;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.panel-no-header .panel-header {
    box-sizing: border-box;
    display: none;
}

.panel-no-header .panel-content {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.panel-section-center {
    height: 100%;
    min-width: var(--center-panel-width);
    flex-basis: var(--center-panel-width);
    flex-grow: 3;
    order: 1;
}

.panel-section-left {
    display: none;
    height: 100%;
    min-width: var(--left-panel-width);
    flex-basis: var(--left-panel-width);
    flex-grow: 1;
    order: -1;
}

.panel-section-right {
    display: none;
    height: 100%;
    min-width: 300px;
    flex-basis: 300px;
    flex-grow: 2;
    order: -1;
    box-sizing: border-box;
}

.panel-title {
    margin: auto;
    font-weight: bold;
    font-size: var(--small-rem);
}

.primary-editor {
    display: flex;
    flex-flow: column;
    gap: var(--micro-rem);
}


.profile-big {
    font-size: var(--mini-micro-rem);
}

.profile-data-row {
    display: flex;
    flex-flow: row;
    overflow: hidden;
    background-color: var(--accent-dark);
    gap: var(--micro-rem);
    border: var(--border-width) solid var(--accent-midway);
    border-radius: calc(0.5 * var(--border-radius));
}

.profile-data-row button {
    border: unset;
    border-radius: unset;
}

.profile-data-row label {
    display: flex;
    padding: var(--micro-rem);
}

.profile-data-row input[type="text"] {
    all: unset;
    display: block;
    text-align: center;
    font-size: var(--small-font);
    box-sizing: border-box;
    width: 100%;
}

.profile-small {
    display: flex;
    flex-flow: column;
    gap: var(--mini-rem);
}

.row {
    display: flex;
    flex-flow: row;
    gap: var(--micro-rem);
}

/* ====================================================
   MEDIA QUERIES
   (Inner rules are sorted into tag, then ID, then class groups)
   ==================================================== */
@media (min-width: 600px) {

    /* Class rules only */
    .panel-section-left {
        order: 2;
    }
}

@media (max-width: 600px) {

    /* Tag selectors */
    :root {
        --panel-bar-height: 64px;
        --icon-size: var(--med-rem);
    }

    header,
    footer {
        height: 64px;
        min-height: 64px;
    }

    /* ID selectors */
    #image-placeholder {
        border-radius: 100%;
        overflow: hidden;
        min-width: 100px;
        min-height: 100px;
        background-color: var(--accent-primary);
        margin-left: auto;
        margin-right: auto;
    }
}


@media (max-width: 900px) {

    /* Tag selectors */
    :root {
        --panel-bar-height: 64px;
        --icon-size: var(--small-rem);
    }

    header,
    footer {
        height: 64px;
        min-height: 64px;
    }

    .panel-title {
        font-size: var(--mini-rem);
    }

    /* ID selectors */
    #image-placeholder {
        border-radius: 100%;
        overflow: hidden;
        min-width: 100px;
        min-height: 100px;
        background-color: var(--accent-primary);
        margin-left: auto;
        margin-right: auto;
    }

    #icons nav .icon {
        margin: unset
    }

    nav .icon {
        margin: unset
    }

    .icons-bar {
        padding: unset;
    }

    .profile-data-row label {

        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: var(--micro-rem);
        aspect-ratio: 1 / 1;
    }

    .profile-data-row {
        min-height: 48px;
    }


    #section-title {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        gap: var(--micro-rem);
        padding: var(--mini-rem) 0px;
    }

    #section-title h3 {
        position: relative;
        margin: unset;
        font-weight: bold;
        padding: 0px var(--mini-rem);
        font-size: var(--mini-rem);
        line-height: 1.5;
        padding-top: calc(0.5 * var(--nano-rem));
        color: var(--accent-dark);
    }

    #section-title>h3::after {
        content: '';
        position: absolute;
        top: 0;
        clip-path: polygon(100% 0, 100% calc(100% - 1rem), calc(100% - 1rem) 100%, 0 100%, 0 0);
        background-color: var(--accent-primary);
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: var(--nano-rem);
    }

    #section-title>h3::before {
        content: '';
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: var(--micro-rem);
        width: var(--micro-rem);
        border-bottom-right-radius: var(--nano-rem);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background-color: var(--accent-primary);


    }
}

@media (max-height: 900px) {

    /* Tag selectors */
    :root {
        --panel-bar-height: 64px;
        --icon-size: var(--small-rem);
    }

    header,
    footer {
        height: 64px;
        min-height: unset;
    }

    .panel-header,
    .panel-footer {
        min-height: 64px;
        ;
    }

    .panel-section-center {
        height: 100%;
        min-width: unset;
        flex-basis: var(--center-panel-width);
        flex-grow: 3;
        order: 1;
    }

    .panel-section-left {
        display: none;
        height: 100%;
        min-width: unset;
        flex-basis: var(--left-panel-width);
        flex-grow: 1;
        /*order: -1;*/
    }

    /* ID selectors */
    #image-placeholder {
        border-radius: 100%;
        overflow: hidden;
        min-width: 100px;
        min-height: 100px;
        background-color: var(--accent-midway);
        margin-left: auto;
        margin-right: auto;
    }

    #icons nav .icon {
        margin: var(--micro-rem);
    }

    /* Class selectors */
    .button-bar {
        font-size: var(--mini-micro-rem);
    }

    .icons-bar nav  {
        margin: var(--mini-rem);
    }

}

@media (max-height: 600px) {

    /* Tag selectors */
    :root {
        --panel-bar-height: 48px;
        --icon-size: var(--med-rem);
    }

    header,
    footer {
        height: 64px;
    }

    /* ID selectors */
    #icons nav {
        display: flex;
        justify-content: center;
        border-radius: calc(0.5 * var(--border-radius));
        align-items: center;
        width: calc(var(--panel-bar-height));
    }

    #image-placeholder {
        border-radius: 100%;
        overflow: hidden;
        min-width: 100px;
        min-height: 100px;
        background-color: var(--accent-midway);
        margin-left: auto;
        margin-right: auto;
    }

    /* Class selectors */
    .panel-footer {
        padding: unset;
    }
}